---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard">
      <div class="relative">
        <Text
          tag="h3"
          variant="textXS"
          class="font-medium text-black uppercase font-display">Links</Text
        >
      </div>
    </Wrapper>
    <Wrapper variant="standard" class="py-12">
      <div class="flex flex-col gap-12">
        <div class="py-4">
          <Text
            tag="p"
            variant="textXS"
            class="font-medium text-black uppercase"
          >
            Default
          </Text>
          <div class="flex flex-wrap items-center mt-2 gap-4">
            <Link href="#_" class="w-auto" size="xs" variant="default"
              >Default XS</Link
            >
            <Link href="#_" class="w-auto" size="sm" variant="default"
              >Default SM</Link
            >
            <Link href="#_" class="w-auto" size="base" variant="default"
              >Default Base</Link
            >
            <Link href="#_" class="w-auto" size="md" variant="default"
              >Default MD</Link
            >
            <Link href="#_" class="w-auto" size="lg" variant="default"
              >Default LG</Link
            >
            <Link href="#_" class="w-auto" size="xl" variant="default"
              >Default XL</Link
            >
          </div>
        </div>
        <div class="py-4">
          <Text
            tag="p"
            variant="textXS"
            class="font-medium text-black uppercase"
          >
            Accent
          </Text>
          <div class="flex flex-wrap items-center mt-2 gap-4">
            <Link href="#_" class="w-auto" size="xs" variant="accent"
              >Accent XS</Link
            >
            <Link href="#_" class="w-auto" size="sm" variant="accent"
              >Accent SM</Link
            >
            <Link href="#_" class="w-auto" size="base" variant="accent"
              >Accent Base</Link
            >
            <Link href="#_" class="w-auto" size="md" variant="accent"
              >Accent MD</Link
            >
            <Link href="#_" class="w-auto" size="lg" variant="accent"
              >Accent LG</Link
            >
            <Link href="#_" class="w-auto" size="xl" variant="accent"
              >Accent XL</Link
            >
          </div>
        </div>
        <div class="py-4">
          <Text
            tag="p"
            variant="textXS"
            class="font-medium text-black uppercase"
          >
            Muted
          </Text>
          <div class="flex flex-wrap items-center mt-2 gap-4">
            <Link href="#_" class="w-auto" size="xs" variant="muted"
              >Muted XS</Link
            >
            <Link href="#_" class="w-auto" size="sm" variant="muted"
              >Muted SM</Link
            >
            <Link href="#_" class="w-auto" size="base" variant="muted"
              >Muted Base</Link
            >
            <Link href="#_" class="w-auto" size="md" variant="muted"
              >Muted MD</Link
            >
            <Link href="#_" class="w-auto" size="lg" variant="muted"
              >Muted LG</Link
            >
            <Link href="#_" class="w-auto" size="xl" variant="muted"
              >Muted XL</Link
            >
          </div>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
