---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Sections
import BlogHero from "@/components/blog/BlogHero.astro";
import Subscribe from "@/components/blog/Subscribe.astro";
// Blog entry components
import BlogEntry1 from "@/components/blog/BlogEntry1.astro";
// Podcast entry components
import PodcastEntry2 from "@/components/podcast/PodcastEntry2.astro";
// Asro content collections
import { getCollection } from "astro:content";
// Get all podcasts
const allPodcasts = await getCollection("podcast");
allPodcasts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
// Get all blog posts
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
---

<BaseLayout>
  <BlogHero />
  <section>
    <Wrapper variant="standard" class="pt-32 pb-12">
      <div class="flex items-center flex-wrap justify-between w-full gap-4">
        <Text tag="p" variant="textSM" class="uppercase font-medium">
          Our most popular posts post
        </Text>
        <Link
          size="xs"
          variant="default"
          href="/blog/home"
          class="w-auto text-center">Read them all</Link
        >
      </div>
      <div
        class="grid border-t border-black pt-4 mt-4 items-start grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4"
      >
        {
          allPosts
            .filter((post) => post.data.isPopular)
            .map((post) => <BlogEntry1 key={post.id} post={post} />)
        }
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="pt-32 pb-12">
      <div class="flex items-center flex-wrap justify-between w-full gap-4">
        <Text tag="p" variant="textSM" class="uppercase font-medium">
          Recent podcast interviews
        </Text>
        <Link
          size="xs"
          variant="default"
          class="w-auto text-center"
          href="/podcast/home">Listen to them all</Link
        >
      </div>
      <div
        class="border-t border-black pt-4 mt-4 flex flex-col items-start divide-y"
      >
        {
          allPodcasts
            .filter((post) => post.data.isPopular)
            .map((post) => <PodcastEntry2 post={post} />)
        }
      </div>
    </Wrapper>
  </section>
  <Subscribe />
</BaseLayout>
