---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/elements/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Podcast entry components
import PodcastEntry2 from "@/components/podcast/PodcastEntry2.astro";
import PodcastEntry1 from "@/components/podcast/PodcastEntry1.astro";
// Sections
import PodcastHero from "@/components/podcast/PodcastHero.astro";
import Subscribe from "@/components/blog/Subscribe.astro";
// Astro content
import { getCollection } from "astro:content";
// Pagination logic
export async function getStaticPaths() {
  const POSTS_PER_PAGE = 2;
  const all = await getCollection("podcast");
  const totalPages = Math.ceil(all.length / POSTS_PER_PAGE);
  return Array.from({ length: totalPages }, (_, i) => ({
    params: { page: String(i + 1) },
  }));
}
const { page } = Astro.params;
const currentPage = parseInt(page);
const POSTS_PER_PAGE = 2;
const allPodcasts = await getCollection("podcast");
const sorted = allPodcasts
  .filter((item) => item.data?.pubDate)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

const totalPages = Math.ceil(sorted.length / POSTS_PER_PAGE);
const start = (currentPage - 1) * POSTS_PER_PAGE;
const paginated = sorted.slice(start, start + POSTS_PER_PAGE);
---

<BaseLayout>
  <PodcastHero />
  <section>
    <Wrapper variant="standard" class="pt-32 pb-12">
      <div
        class="flex flex-col items-start pt-4 border-t border-black divide-y"
      >
        {paginated.map((post) => <PodcastEntry2 post={post} />)}
      </div>
      <nav
        class="flex flex-col md:flex-row lg:justify-between gap-4 items-center mt-12 text-xs text-black relative"
        aria-label="Pagination"
      >
        <div>
          {
            currentPage > 1 && (
              <a
                href={
                  currentPage === 2
                    ? `/podcast`
                    : `/podcast/interviews/${currentPage - 1}`
                }
                class="flex items-center gap-2 hover:opacity-80"
                aria-label="Go to previous page"
              >
                <span aria-hidden="true">&larr;</span>
                <span>Previous</span>
              </a>
            )
          }
        </div>
        <div>
          {
            currentPage < totalPages && (
              <a
                href={`/podcast/interviews/${currentPage + 1}`}
                class="flex items-center gap-2 hover:opacity-80"
                aria-label="Go to next page"
              >
                <span>Next</span>
                <span aria-hidden="true">&rarr;</span>
              </a>
            )
          }
        </div>
      </nav>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="pt-32 pb-12">
      <Text tag="p" variant="textSM" class="font-medium uppercase">
        Subscribers only
      </Text>
      <div
        class="items-start pt-4 mt-4 border-t border-black grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4"
      >
        {
          allPodcasts
            .filter((post) => post.data.isLocked)
            .map((post) => <PodcastEntry1 post={post} />)
        }
      </div>
    </Wrapper>
  </section>
  <Subscribe />
</BaseLayout>
