---
// Assets
import { Image } from "astro:assets";
import LoginImage from "@/images/login.jpeg";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div class="lg:order-last">
        <Image
          class="h-64 w-full bg-base-50 object-cover lg:h-[92vh] grayscale"
          src={LoginImage}
          width={1000}
          height={1000}
          alt="#_"
        />
      </div>
      <div
        class="flex flex-col justify-center h-full p-8 2xl:max-w-3xl 2xl:mx-auto lg:p-20"
      >
        <div class="text-center lg:text-balance">
          <Text
            tag="h1"
            variant="display2XL"
            class="font-serif font-light tracking-tight text-center text-black text-balance"
          >
            Sign in to your account
          </Text>
          <Text
            tag="p"
            variant="textXS"
            class="mt-1 font-medium uppercase text-base-600"
          >
            Welcome back! Please enter your email and password to sign in.
          </Text>
        </div>
        <form action="#" method="POST" class="flex flex-col mt-8 gap-4">
          <div>
            <label class="sr-only"> Email </label>
            <div>
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                required
                aria-required="true"
                aria-describedby="email-error"
                placeholder="Your email"
                class="w-full h-8 px-0 py-2 text-xs bg-transparent border-t-0 border-b border-x-0 border-base-300 focus:outline-none focus:ring-2 focus:ring-base-500 focus:border-base-500 placeholder-base-500"
              />
              <span id="email-error" class="hidden text-sm text-red-600">
                Please enter a valid email address.
              </span>
            </div>
          </div>
          <div>
            <label class="sr-only">
              Password
              <a class="undefined"> Forgot password? </a>
            </label>
            <div>
              <input
                type="password"
                name="password"
                id="password"
                autocomplete="current-password"
                required
                aria-required="true"
                aria-describedby="password-error"
                placeholder="Your password"
                class="w-full h-8 px-0 py-2 text-xs bg-transparent border-t-0 border-b border-x-0 border-base-300 focus:outline-none focus:ring-2 focus:ring-base-500 focus:border-base-500 placeholder-base-500"
              />
              <span id="password-error" class="hidden text-sm text-red-600">
                Please enter a valid password.
              </span>
            </div>
          </div>
          <div class="flex w-full">
            <Button size="sm" type="submit" variant="default" class="w-full">
              Log In
            </Button>
          </div>
          <div class="flex items-center justify-center mt-12">
            <Text
              tag="p"
              variant="textXS"
              class="mt-1 font-medium uppercase text-base-600"
            >
              Don't have an account?
              <a
                class="font-medium leading-normal text-black hover:text-base-600"
                href="/forms/signup"
              >
                Sign up
              </a>
            </Text>
          </div>
        </form>
      </div>
    </div>
  </Wrapper>
</section>
