---
// Assets
import { Image } from "astro:assets";
import signupImage from "@/images/signup.jpeg";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div class="lg:order-last">
        <Image
          class="h-64 w-full bg-base-50 object-cover lg:h-[92vh] grayscale"
          src={signupImage}
          width={1000}
          height={1000}
          alt="#_"
        />
      </div>
      <div
        class="flex flex-col justify-center h-full p-8 2xl:max-w-3xl 2xl:mx-auto lg:p-20"
      >
        <div class="text-center lg:text-balance">
          <Text
            tag="h1"
            variant="display2XL"
            class="font-serif font-light tracking-tight text-center text-black text-balance"
          >
            Sign up to Hemmingway
          </Text>
          <Text
            tag="p"
            variant="textXS"
            class="mt-1 font-medium uppercase text-base-600"
          >
            fill in the form below to create your account.
          </Text>
        </div>
        <form action="#" method="POST" class="flex flex-col mt-8 gap-4">
          <div>
            <label for="name" class="sr-only">Name</label>
            <div>
              <input
                type="text"
                name="name"
                id="name"
                autocomplete="name"
                required
                aria-required="true"
                aria-describedby="name-error"
                placeholder="Your name"
                class="w-full h-8 px-0 py-2 text-xs bg-transparent border-t-0 border-b border-x-0 border-base-300 focus:outline-none focus:border focus:ring-base-500 focus:border-base-500 placeholder-base-500"
              />
              <span id="name-error" class="hidden text-sm text-red-600">
                Please enter your name.
              </span>
            </div>
          </div>
          <div>
            <label for="email" class="sr-only">Email</label>
            <div>
              <input
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                required
                aria-required="true"
                aria-describedby="email-error"
                placeholder="Your email"
                class="w-full h-8 px-0 py-2 text-xs bg-transparent border-t-0 border-b border-x-0 border-base-300 focus:outline-none focus:border focus:ring-base-500 focus:border-base-500 placeholder-base-500"
              />
              <span id="email-error" class="hidden text-sm text-red-600">
                Please enter a valid email address.
              </span>
            </div>
          </div>
          <div>
            <label for="password" class="sr-only">Create password</label>
            <div>
              <input
                type="password"
                name="password"
                id="password"
                autocomplete="new-password"
                required
                aria-required="true"
                aria-describedby="password-error"
                placeholder="Create password"
                class="w-full h-8 px-0 py-2 text-xs bg-transparent border-t-0 border-b border-x-0 border-base-300 focus:outline-none focus:border focus:ring-base-500 focus:border-base-500 placeholder-base-500"
              />
              <span id="password-error" class="hidden text-sm text-red-600">
                Please enter a valid password.
              </span>
            </div>
          </div>
          <div>
            <label for="confirm-password" class="sr-only"
              >Confirm password</label
            >
            <div>
              <input
                type="password"
                name="confirm-password"
                id="confirm-password"
                autocomplete="new-password"
                required
                aria-required="true"
                aria-describedby="confirm-password-error"
                placeholder="Confirm password"
                class="w-full h-8 px-0 py-2 text-xs bg-transparent border-t-0 border-b border-x-0 border-base-300 focus:outline-none focus:border focus:ring-base-500 focus:border-base-500 placeholder-base-500"
              />
              <span
                id="confirm-password-error"
                class="hidden text-sm text-red-600"
              >
                Passwords do not match.
              </span>
            </div>
          </div>
          <div class="flex w-full">
            <Button size="sm" type="submit" variant="default" class="w-full">
              Sign up
            </Button>
          </div>
        </form>
        <div class="flex items-center justify-center mt-12">
          <Text
            tag="p"
            variant="textXS"
            class="mt-1 font-medium uppercase text-base-600"
          >
            Have an account?
            <a
              class="font-medium leading-normal text-black hover:text-base-500"
              href="/forms/login"
            >
              Sign in
            </a>
          </Text>
        </div>
      </div>
    </div>
  </Wrapper>
</section>
