---
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Podcasts
const allPodcasts = await getCollection("podcast");
allPodcasts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
// Components
import BlogEntry1 from "@/components/blog/BlogEntry1.astro";
import PodcastEntry3 from "@/components/podcast/PodcastEntry3.astro";
import BlogSearch from "@/components/blog/BlogSearch.astro";

// Get all posts
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
// Pocasts links
const podcastPlatforms = [
  { name: "Spotify", link: "#_" },
  { name: "Apple Podcasts", link: "#_" },
  { name: "YouTube", link: "#_" },
  { name: "Overcast", link: "#_" },
  { name: "Pocket Casts", link: "#_" },
  { name: "Castbox", link: "#_" },
  { name: "Stitcher", link: "#_" },
  { name: "iHeartRadio", link: "#_" },
  { name: "Google Podcasts", link: "#_" },
  { name: "Amazon Music", link: "#_" },
];
---

<section id="navigation" class="z-10 bg-white">
  <Wrapper variant="standard" class="pt-2 wrapper-class">
    <div class="items-start w-full pb-4 grid grid-cols-1 sm:grid-cols-3 gap-2">
      <!-- Header content -->
      <div class="col-span-2 md:col-span-1">
        <a href="/">
          <Text
            tag="p"
            variant="textXS"
            class="font-medium text-black uppercase hover:text-base-600"
          >
            Innovative Design Conversations — <span class="text-base-500"
              >editorial</span
            >
          </Text>
        </a>
      </div>

      <div class="flex items-center ml-auto gap-4 col-start-3">
        <Text
          tag="a"
          variant="textXS"
          href="/system/overview"
          class="font-medium text-black uppercase hover:text-base-500"
        >
          overview
        </Text>
        <button
          id="menubutton"
          type="button"
          class="w-12 text-xs font-medium text-right text-black uppercase hover:text-base-500"
          aria-controls="menu"
          aria-label="Toggle menu"
        >
          menu
        </button>
        <BlogSearch />
      </div>
    </div>
    <!-- Drawer -->
    <nav
      id="menu"
      role="navigation"
      aria-labelledby="menubutton"
      class="relative overflow-hidden bg-white border-y"
    >
      <div class="pt-6 pb-12 mb-4 grid grid-cols-1 md:grid-cols-4 gap-2">
        <a href="/">
          <Logo class="h-8" />
        </a>
        <div class="flex flex-col gap-2 lg:gap-8">
          <div>
            <Text
              tag="a"
              href="/interviews/home"
              variant="displayLG"
              class="font-serif font-light"
            >
              Interviews
            </Text>
            <div class="flex-col hidden mt-1 md:flex">
              {allPodcasts.map((post) => <PodcastEntry3 post={post} />)}
            </div>
          </div>
          <div>
            <Text
              tag="p"
              href="/blog/home"
              variant="displayLG"
              class="font-serif font-light"
            >
              Listen on
            </Text>
            <nav class="flex flex-col mt-1 gap-1">
              {
                podcastPlatforms.map((platform) => (
                  <Text
                    tag="a"
                    variant="textXS"
                    class="font-serif font-medium text-base-500 hover:underline"
                    href={platform.link}
                  >
                    {platform.name}
                  </Text>
                ))
              }
            </nav>
          </div>
        </div>
        <div class="lg:col-span-2">
          <Text
            tag="a"
            href="/blog/home"
            variant="displayLG"
            class="font-serif font-light"
          >
            Blog
          </Text>
          <div class="hidden mt-1 md:grid grid-cols-1 gap-2 lg:grid-cols-2">
            {allPosts.slice(0, 2).map((post) => <BlogEntry1 post={post} />)}
          </div>
        </div>
      </div>
    </nav>
  </Wrapper>
</section>
<style>
  #menu {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
      max-height 0.5s ease-out,
      opacity 0.5s ease-out;
  }
  #menu.expanded {
    max-height: 100vh;
    opacity: 1;
  }
</style>
<script type="module">
  document.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.getElementById("menubutton");
    const menu = document.getElementById("menu");
    let expanded = false;

    // Toggle menu
    menuButton.addEventListener("click", () => {
      expanded = !expanded;
      menuButton.setAttribute("aria-expanded", expanded);
      menu.classList.toggle("expanded");

      // Change the text of the menu button
      if (expanded) {
        menuButton.textContent = "Close";
      } else {
        menuButton.textContent = "Menu";
      }
    });
  });
</script>
